.first {
  background-color: #fef3c7;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.6rem;
  padding: 3.2rem 0;
}

header {
  font-family: "Lora", serif;
  font-size: 7.4rem;
  font-weight: 600;
}

.byline {
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.6rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
  /* margin: 2.4rem; */
}

p {
  font-size: 2.4rem;
  line-height: 1.8;
  margin: 1.8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  transition: all 0.3s;

  /* Only necessay for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
  background-color: #d97706;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #b45309;
  color: #fff;
}

.btn-box .btn-icn {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.icn {
  height: 2.4rem;
}

.price {
  font-size: 4.8rem;
}

/* CTA */
.cta-section {
  padding: 3.6rem 2.4rem 10.2rem;
  /* margin-bottom: 6.4rem; */
  /* background-image: url("../img/seafront-beach-huts.jpg");
  background-size: cover;
  background-position: bottom; */
}

.cta {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.column-1 {
  margin-left: 7.2rem;
}

.cta-blurb {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.6;
}

.btn-box {
  display: flex;
  justify-content: left;
  gap: 6.4rem;
  margin-top: 3.6rem;
}

.img-sara-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-sara {
  justify-self: center;
  align-self: center;
  height: 36rem;

  border-radius: 2.4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.about-me-section-box {
  padding-top: 6.4rem;
  /* border-bottom: 1px #555 solid; */
}

/* NAVIGATION */

.header {
  border-bottom: 1px #e5dbb3 solid;
}

.header-nav {
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.04);
}

.main-nav {
  padding: 0 9.6rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  /* background-color: #d97706; */
  padding: 4.8rem;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #d97706;
  font-weight: 500;
  font-size: 3.2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #b45309;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #d97706;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #b45309;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4.2rem;
  padding: 4.8rem;
  border-top: 1px #e5dbb3 solid;
}

.bacp-logo {
  height: 10rem;
}

.pt-logo {
  height: 10rem;
}

.therapyhubLink {
  max-width: 31.1rem;
}
